body {
    font-family: "Roboto", sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    text-align: center;
    margin: 1rem auto;
    padding: 10px;
    background-color: skyblue;
    border: 1px solid black;


}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 10px;
    background: #fff;
}